*{
	box-sizing: border-box !important;
	transition: all .8s ease !important;

}
body{
 background-color: #e6e7ee;
 height: 200vh;
}




.nav-item{
	border: 1px solid #d1d9e6;
	box-shadow: 3px 3px 6px rgba(0,0,0,.2),
				-3px -3px 6px white;
	min-width: 100px;
	transition:all .5s ease;
	
}
.nav-item:hover{
	border:none;
	box-shadow: 3px 3px 6px rgba(0,0,0,.2) inset,
				-3px -3px 6px white inset;
	min-width: 100px;
	
}

a{
	color: #31344b !important;
}

.card{
		background-color: #e6e7ee;

		    border: 2px solid #d1d9e6 !important;
		   

	

}
.card:hover{
	box-shadow: 6px 6px 12px rgba(0,0,0,.4), -6px -6px 12px white;
	/*width: 400px;*/


}


/*img{
	transition: all .5s ease !important;
}
img:hover{
	width: 500px;
}*/




.kotak{
	transition: all .5s ease !important;
	width: 100px;
	height: 100px;
	border: 1px solid;
}
.kotak:hover{
	width: 300px;
}
